<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="None" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <match url=".*" />
        </rule>
        <rule name="DynamicContent">
          <action type="Rewrite" url="server/index.js" />
          <match url=".*" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
